<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR Shelving</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="actions-menu">
      <ion-button id="scan-button" expand="full" color="primary" routerLink="/qr-scan">
        Scan QR Code
      </ion-button>
      <ion-button id="shelve-button" expand="full" color="secondary" routerLink="/qr-shelve">
        Shelve QR Code
      </ion-button>
      <ion-button id="inventory-button" expand="full" color="tertiary" routerLink="/inventory">
        Inventory QR Code
      </ion-button>
      <ion-button id="add-product" expand="full" color="success" routerLink="/add-product">
        Add Product
      </ion-button>
    </div>
  </div>
</ion-content>
