<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Añadir Producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding scroll-content" [fullscreen]="false">
  <div class="form-wrapper">
    <div class="form-header">
      <h2>Añadir Producto</h2>
    </div>

    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">SKU</ion-label>
              <ion-input formControlName="sku" required></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Nombre del Producto</ion-label>
              <ion-input formControlName="name" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="stacked">Lote</ion-label>
              <ion-datetime
                presentation="date"
                formControlName="lot"
                required
              ></ion-datetime>
            </ion-item>

            <p class="date-preview">
              Fecha lote: {{ productForm.value.lot | date: 'yyyy-MM-dd' }}
            </p>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="stacked">Fecha de Vencimiento</ion-label>
              <ion-datetime
                presentation="date"
                formControlName="expires"
                required
              ></ion-datetime>
            </ion-item>
            <p class="date-preview">
              Vence: {{ productForm.value.expires | date: 'yyyy-MM-dd' }}
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input
                type="number"
                formControlName="quantity"
                required
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Precio Unitario (Bs)</ion-label>
              <ion-input
                type="number"
                formControlName="price"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Costo (Bs)</ion-label>
              <ion-input
                type="number"
                formControlName="cost"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="button-row">
          <ion-col size="12" size-md="6">
            <ion-button expand="block" color="medium" (click)="cleanForm()">Limpiar</ion-button>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-button expand="block" color="success" type="submit" [disabled]="productForm.invalid">
              Agregar Producto
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
